<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>BadResult</title>

       <link rel="stylesheet" href="{{ url_for('static', filename='bad_style.css') }}" >
</head>

<body>
  <h1>
    <span>다</span>
    <span>시</span>
    <span>해</span>
    <span>볼</span>
    <span>까</span>
    <span>요</span>
    <span>?</span>
    <span>?</span>
  </h1>
  <div class="container-wrap">
<div class="container">
  <div class="kitty-wrap">
    <div class="kitty-head">
      <div class="kitty-eye">
        <div class="circle eye-left">
          <div class="line"></div>
        </div>
        <div class="kitty-nose">
          <div class="arrow-triangle down"></div>
        </div>
        <div class="circle eye-right">
          <div class="line"></div>
        </div>
      </div>
      <div class="kitty-ear">
        <div class="arrow-triangle left"></div>
        <div class="arrow-triangle right"></div>
      </div>
      <div class="kitty-moustache-wrap">
        <div class="kitty-moustache kitty-moustache-1"></div>
        <div class="kitty-moustache kitty-moustache-2"></div>
        <div class="kitty-moustache kitty-moustache-3"></div>
        <div class="kitty-moustache kitty-moustache-4"></div>
      </div>
    </div>
    <div class="kitty-neck-wrap">
      <div class="kitty-neck"></div>
    </div>
    <div class="kitty-hand"></div>
    <div class="kitty-belly-wrap">
      <div class="kitty-belly"></div>
    </div>
    <div class="kitty-legs-wrap">
      <div class="kitty-legs">
        <div class="leg leg-left"></div>
        <div class="leg leg-right"></div>
      </div>
    </div>
    <div class="kitty-tail"></div>
    <div class="bottom-water">
      <div class="mark"></div>
      <div class="mark mark-1"></div>
      <div class="mark mark-2"></div>
      <div class="mark mark-3"></div>
      <div class="mark mark-4"></div>
    </div>
  </div> 
  <div class="top-water">
      <div class="rain-drop">
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
        <div class="drop drop-6"></div>
        <div class="drop drop-7"></div>
        <div class="drop drop-8"></div>
        <div class="drop drop-9"></div>
        <div class="drop drop-10"></div>
        <div class="drop drop-11"></div>
        <div class="drop drop-12"></div>
        <div class="drop drop-13"></div>
        <div class="drop drop-14"></div>
        <div class="drop drop-15"></div>
        <div class="small-drop sm-drop-1"></div>
        <div class="small-drop sm-drop-2"></div>
        <div class="small-drop sm-drop-3"></div>
        <div class="small-drop sm-drop-4"></div>
        <div class="small-drop sm-drop-5"></div>
        <div class="small-drop sm-drop-6"></div>
        <div class="small-drop sm-drop-7"></div>
        <div class="small-drop sm-drop-8"></div>
      </div>
    </div>
</div>
</div>
  <div id="first">
    <button class="learn-more" OnClick="location.href ='./3sec'">다시해볼래요!</button>
  </div>
  <div id="second">
    <button class="learn-more" OnClick="location.href ='./'">그만할래요!</button>
  </div>




</body>

</html>
