<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Two Choices</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">

</head>
<body>

    <!-- partial:index.partial.html -->
  <h1><span>"Two</span><span>Choices"</span></h1>
<!-- partial -->

<div id="container">

    <button type="button" class="btm_image1" id="img_btn" OnClick="location.href ='./3secf'">
        <img src="static/menuimages/fruitmode.png" width="400px" height="450px">
    </button>

    <button type="button" class="btm_image2" id="img_btn2" OnClick="location.href ='./3seco'">
       <img src="static/menuimages/objectmode.png" width="400px" height="450px">
    </button>

</div>
</body>
</html>

